<div class="tag">
  <% if policy(ticket).tag? %>
    <%= link_to fa_icon("close"),
      remove_ticket_tag_path(ticket, tag),
      method: :delete, remote: true, class: "remove", title: "Remove" %>
    <%= link_to tag.name, search_project_tickets_path(ticket.project,
                                                      search: "tag:#{tag.name}") %>
  <% end %>
</div>
