$navigation-background: #333 !default;
$navigation-height: 60px;

header.navigation {
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
}

.navigation-wrapper {
  @include clearfix;
  @include outer-container;
  position: relative;
  z-index: 9999;
}

nav {
  float: none;
  min-height: $navigation-height;
  z-index: 9999999;
}

