.form-inputs {
  flex: 1 40%;
  justify-content: flex-end;
}

.nav-text {
  color: #fff;
}

.button {
  &.danger {
    @include button(flat, $light-red);
  }
  &.safe {
    @include button(flat, $green);
    color: #fff;
  }
  &.action {
    @include button(flat, $blue);
  }
}

.tag {
  a {
    color: #fff;
  }
  margin: 2px 0;
  @include button(flat, $blue);
}

.actions ul {
  li {
    margin-bottom: 10px;
  }
}

header.project {
  background-color: $light-gray;
  padding: 20px 10px;
  margin-bottom: 30px;

  h1 {
    font-size: 30px;
  }
}
