
#content {
  @include outer-container();
}

.form-inputs {
  @include span-columns(4);
}

.nav-text {
  color: #fff;
}

.button {
  &.danger {
    @include button(flat, $light-red);
  }
  &.safe {
    @include button(flat, $green);
    color: #fff;
  }
  &.action {
    @include button(flat, $blue);
  }
}

.tag {
  a {
    color: #fff;
  }
  @include button(flat, $blue);
}

header.project {
  background-color: $light-gray;
  padding: 20px 10px;
  margin-bottom: 30px;

  h1 {
    font-size: 30px;
  }
}

// .projects .actions {
//   @include span-columns(8);
//   @include shift(4);
// }

