<header>
  <h1>Users admin</h1>
  <ul class="actions">
    <li>
      <%= link_to "New User", new_admin_user_path, class: "button safe" %>
    </li>
  </ul>
</header>

<ul>
  <%# <% @users.each do |user| %1> %>
  <%#   <li> %>
  <%#     <%= link_to user.email, [:admin, :user] %1> %>
  <%#   </li> %>
  <%# <% end %1> %>
</ul>
